---
import Footer from "../components/Footer.astro";
import { ChinneseCountDown } from "../components/pqina";
import Replay from "../components/Replay.astro";
import Layout from "../layouts/Layout.astro";

const plc1 = "DKBLjsDY0E0";
const plc2 = "tVrTvb5F5Rs";
const plc3 = "qtMjE1d2qPs";
const plc4 = "eYjRHgJErMc";
---

<!-- <script>
  window.onload = function () {
    window.location.replace("https://www.incrementatuconsulta.com/cerrado");
  };
</script> -->
<Layout title="All Access - Incrementa tu consulta">
  <section class="">
    <h1
      class="mb-4 bg-ventaBlue py-6 px-4 text-center font-coolvetica text-xl font-bold text-white md:mb-12 md:text-5xl"
    >
      Mira todas las clases antes de que se detenga el reloj:
    </h1>
    <div class="flex justify-center">
      <ChinneseCountDown client:load date={"2023-03-26 23:59"} color={false} />
    </div>

    <div
      class="mx-4 mt-4 text-center font-inter text-xl font-bold text-secondary md:mt-8 md:text-6xl"
    >
      <h2>Llena tu agenda de pacientes en 60 dias o menos</h2>
      <h2>multiplica tus ingresos</h2>
    </div>

    <Replay
      clase="1"
      titulo="Como ofrecer o vender tu consulta online"
      source={plc1}
    />

    <!-- <Replay
      clase="2"
      titulo="Las top 7 formas de tener dinero online y los 5 errores de novato"
      source={plc2}
    />

    <Replay
      clase="3"
      titulo="Como ofrecer o vender tu consulta online"
      source={plc3}
    />

    <Replay
      clase="4"
      titulo="La estrategia para hacer crecer tu lista de pacientes"
      source={plc4}
    /> -->
  </section>
  <Footer />
</Layout>
