---
import Hearth from "./Hearth.astro";
import Stars from "./Stars.astro";

const { nombre, img, contenido, titulo } = Astro.props;
---

<div
  class="rounded-xl shadow-xl border-2 border-secondary p-6 bg-secondary flex flex-col justify-around my-4 flex-wrap mx-12"
>
  <div class="text-white h-[320px]">
    <div class="flex gap-2 items-center">
      <img src={img} alt={nombre} loading="lazy" width="110" />
      <div>
        <p class="text-xl md:text-xl">{titulo}</p>
        <p class="text-xl md:text-xl">{nombre}</p>
      </div>
    </div>

    <div class="flex gap-2 my-2">
      <Stars />
      <Stars />
      <Stars />
      <Stars />
      <Stars />
    </div>

    <p class="">
      {contenido}
    </p>
  </div>

  <div class="flex justify-end text-white">
    <Hearth />
  </div>
</div>
