---
import Stars from "./icons/Stars.astro";

const { nombre, img, contenido, titulo } = Astro.props;
---

<div
  class="mx-12 my-4 flex min-w-[300px] flex-col flex-wrap justify-around rounded-xl border-2 border-secondary bg-secondary p-6"
>
  <div class="h-[320px] text-white">
    <div class="flex items-center gap-2">
      <img src={img} alt={nombre} loading="lazy" width="110" />
      <div>
        <p class="flex-wrap text-xl md:text-xl">{titulo}</p>
        <p class="flex-wrap text-xl md:text-xl">{nombre}</p>
      </div>
    </div>

    <div class="my-2 flex gap-2">
      <Stars />
      <Stars />
      <Stars />
      <Stars />
      <Stars />
    </div>

    <p class="flex-wrap">
      {contenido}
    </p>
  </div>
</div>
