---
import { entrenamiento } from "../data/entrenamientoData";
const date = Date.now();
---

<section class="bg-white">
  <div class="bg-primary py-8">
    <h1 class="text-2xl md:text-4xl text-center text-white">
      ¿Qué aprenderás en este entrenamiento?
    </h1>
  </div>
  <ul class="grid sm:grid-cols-2 lg:grid-cols-4 gap-5 py-8">
    {
      entrenamiento.map((e) => (
        <div>
          {date <= e.openDate ? (
            <img
              src={e.img}
              alt={e.alt}
              class="mx-auto mb-8 w-[300px] cursor-not-allowed"
              loading="lazy"
            />
          ) : (
            <a href={e.url}>
              <img
                src={e.activeImg}
                alt={e.alt}
                class="mx-auto mb-8 w-[300px] cursor-pointer "
                loading="lazy"
              />
            </a>
          )}

          <p class="px-4 lg:px-12 text-lg lg:text-2xl text-center leading-tight">
            {e.contents}
          </p>
        </div>
      ))
    }
  </ul>
</section>
