---
const ventainfo = [
  {
    title: "PAGO UNICO",
    texthead: "Ahorra $97 dólares",
    textprice: "Pago Único",
    price: "$697 dólares",
    element: "unico",
  },
  // {
  //   title: "PAGO FLEXIBLE",
  //   texthead: "Paga a tu ritmo",
  //   textprice: "2 pagos mensuales de",
  //   price: "$397 dólares",
  //   element: "flexible",
  // },
];
---

<script>
  const hotmart = document.getElementsByName("hotmart");

  hotmart.forEach((element) => {
    element.addEventListener("click", () => {
      window.open("https://pay.hotmart.com/L93933144S", "_blank");
    });
  });

  const whats = document.getElementsByName("whats");

  whats.forEach((element) => {
    element.addEventListener("click", () => {
      window.open("https://wa.me/message/LD54V7JCH3TXD1", "_blank");
    });
  });

  const flex = document.getElementsByName("flexible");

  flex.forEach((element) => {
    element.addEventListener("click", () => {
      window.open("https://pay.hotmart.com/L93933144S", "_blank");
    });
  });

  const unico = document.getElementsByName("unico");

  unico.forEach((element) => {
    element.addEventListener("click", () => {
      window.open("https://pay.hotmart.com/L93933144S", "_blank");
    });
  });
</script>

<div>
  <!-- <h2
    class="py-4 text-center text-4xl font-bold text-redVenta line-through md:text-6xl"
  >
    $6,170 USD
  </h2> -->

  <h2 class="py-4 text-center text-2xl font-bold md:text-4xl">
    Recibe 31% de descuento <span class="line-through">$997 USD</span>
  </h2>

  <div class="container mx-auto grid gap-8 px-4 py-4 md:w-[420px]">
    {
      ventainfo.map((v) => (
        <div class="border-4 border-dashed border-primary p-8 text-center ">
          {/* <h2 class="bg-mango p-2 text-2xl font-bold text-white">{v.title}</h2> */}

          {/* <h2 class="text-4xl font-bold">697</h2> */}
          {/* <h3 class="my-2 text-xl">{v.texthead}</h3> */}
          {/* <p class="my-2 text-xl">{v.textprice}</p> */}
          <p class="my-2 text-3xl font-bold">{v.price}</p>
          <button
            name={v.element}
            class={`my-2 w-full rounded-lg py-2 text-2xl font-bold uppercase shadow-lg  ${
              v.element === "unico"
                ? "bg-primary text-white hover:bg-blue-800"
                : "border-4 border-primary hover:bg-primary hover:text-white"
            } `}
          >
            Quiero llenar mi consulta
          </button>
        </div>
      ))
    }
  </div>

  <div class="mt-4 flex flex-col items-center gap-4 px-4 md:gap-10">
    <!-- <button
      name="hotmart"
      class="rounded-2xl bg-redVenta px-24 py-3 text-center font-coolvetica text-xl text-white shadow-[10px_10px_2px_0px_rgba(0,0,0,0.07)] hover:bg-red-700 md:text-3xl"
    >
      QUIERO MI CUPO YA
    </button> -->
    <div>
      <p class="pt-2 text-center text-sm md:mt-4 md:text-xl">
        Conoce las facilidades de pago 3, 6, 9 o 12 pagos chiquitos, con tarjeta
        de crédito.
      </p>
    </div>

    <button
      name="whats"
      class="flex items-center gap-4 rounded-2xl bg-[#0bd100] px-24 py-3 text-center font-coolvetica text-base text-white shadow-[10px_10px_2px_0px_rgba(0,0,0,0.07)] hover:bg-green-500 md:text-lg"
    >
      <img src="/whatsapp-logo.webp" alt="logo whatsapp" class="h-8 w-8" />
      ¿Necesitas ayuda?
    </button>
  </div>
</div>
